.cookie{
  padding:10px;
  background:$color_bg_default;
  @include  flexatcenter(center);
  font-size:$size_small;
  a{
    @include colorcookie(0.8);

    &:hover{
      @include colorcookie(1);
    }
  }
}
