header{

  color:$color_text_default;
  .header-top{

    width:100%;
    @include flexatcenter(space-between);
    padding:30px 100px;
    // border-bottom:1px solid gray;
    // border-bottom;
  }
  .header-top-navbar{
    width:100%;
    font-size:$size_small;
    font-weight:700;
    @include flexatcenter(flex-end);
      li a,a{
        color:$color_text_default;
        &:hover{
          color:navy;
        }
      }

      > ul li{
      display: inline-block;
      padding:0 20px;
      }
      .menu-drop-box{
        position: relative;
        padding:0 20px;

        .menu-drop-box-items{
          display:none;
          position: absolute;
          top:25px;
          left: 0;
          line-height:2.5;
          padding:0 15px;
          background:white;
          box-shadow:2px 2px 2px 2px gray;
          z-index:999;
          border-radius:10px;
          border-color:gray;
        }
      }
  }

  .header-bottom-dx{
    img{
      width:100%;
    }
  }
  .header-bottom-sx{
    padding:100px 0;
  }
  .header-bottom-dx{
    padding:100px 0;
  }
  .header-bottom-sx{
    padding-right:40px;
    h1{
      font-size:$size_large;
      font-weight:900;
      padding-bottom:40px;
    }
    > p{
      font-size:$size_medium;
      padding-bottom:40px;
    }
    .link{
      @include flexatcenter(flex-star);
      padding-bottom:40px;
      a,p{
        padding:5px 15px;
      }
      a{
        @include colorlink(0.8);
        color:white;
        border-radius:$size_small;
        &:hover{
          @include colorlink(1);
        }
      }
    }
    a.email-user{
      color:$color_text_default;
      &:hover{
        color:navy;
      }
    }
  }
}
